Contract-MIS.ServiceApp/Misi.ServiceRef.Billing/Service References/SAPConnServ/SAPConnector1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8086/Service/SAPConnector.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Misi.SAP.Connector.Object" />
  <xs:element name="GetBillingItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="soldToParty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Misi.SAP.Connector.Object" minOccurs="0" name="GetBillingItemsResult" nillable="true" type="q1:InputOutputDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoldToParties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orgNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSoldToPartiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Misi.SAP.Connector.Object" minOccurs="0" name="GetSoldToPartiesResult" nillable="true" type="q2:InputOutputDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>